strict-peer-dependencies=false
public-hoist-pattern[]=*electron*
public-hoist-pattern[]=*electron-builder*
public-hoist-pattern[]=*electron-rebuild*
public-hoist-pattern[]=*esbuild*
public-hoist-pattern[]=*node-abi*
shamefully-hoist=true
enable-pre-post-scripts=true